body {
    margin: 0 auto;
    max-width: 1024px;
  
    font-family: "Lato", "Helvetica", sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  main {
    padding: 10px;
    background-color: rgb(150, 150, 150);
  }
  
  h2 {
    color: rgb(20, 20, 150);
  }
  
  section {
    border-bottom: 1px solid rgb(120, 120, 120);
  }
  
  header, footer {
    padding: 20px;
    background-color: rgb(50, 50, 50);
    color: rgb(250, 250, 250);
  }
  
  footer a {
    color: rgb(250, 250, 250);
  }